<h1>タグ追加と一覧</h1>


<%= link_to "アイテム一覧", items_path %>


<%= form_with model: @tag, url: tags_path do |f| %>
  <%= f.text_field :tag_name %>
  <%= f.submit "投稿" %>

<% end %>


<h2>タグ一覧</h2>
<% @tags.each do |tags| %>
  <%= tags.tag_name %>
  <%= "(#{tags.items.count})" %>
  <%= link_to "x",tag_path(tags.id), method: :delete %>
<% end %>

