<h1>編集ページ</h1>
<%= link_to "詳細ページ", item_path(@item.id) %><br>

<%= form_with model: @item do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :item_text %>

  <%= f.text_field :tag_name,value:@tags %>


<%= f.submit "更新" %>
<% end %>

以下のタグをクリックして、上のフォームに自動追加できるようにする

<%= render "tags/add_tag", tag_list: @tag_list %>