<h1>編集ページ</h1>
<%= link_to "詳細ページ", item_path(@item.id) %><br>

<%= form_with model: @item do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :item_text %>

  <%= f.text_field :tag_name %>



  <% @item.ttags.each do |tag| %>

    <%= tag.tag_name %>
  <% end %>

<%= f.submit "更新" %>
<% end %>