<h1>アイテム一覧ページ</h1>

<%= link_to "投稿ページ", new_item_path %>


<h2>タグリスト</h2>
  <% @tag_list.each do |tag_list| %>
    <%= tag_list.tag_name %><br>
  <% end %>


<h2>アイテム一覧</h2>
  <% @items.each do |item| %>
    <%= link_to item_path(item.id) do %>
      <%= item.name %>
    <% end %>
    <br>
    <%= item.item_text %><br>
    <% item.ttags.each do |tag_list| %>
      <%= tag_list.tag_name %><br>
    <% end %>
  <% end %>
