<h1>投稿画面</h1>
<%= link_to "トップ画面",root_path %> | <%= link_to "一覧画面",items_path %>
<%= form_with model: @item do |f| %>
<p>タイトル</p>
  <%= f.text_field :name %>

<p>本文</p>
  <%= f.text_area :item_text %>

<p>タグ</p>
 <%= f.text_field :tag_name, placeholder: "タグを複数つけるには空白で区切ってください" %>
<!--タグを保存する時、保存するのは中間テーブル？？-->

  <%= f.submit "投稿" %>
<% end %>

<br>
下の一覧から、タグを押すとフォームに自動入力されるようにする。検索しても出てこない。
サジェストとは違う。pixivのタグ付けみたいにしたい

<p>タグリスト</p>

<%= render "tags/tag_list", tag_list: @tag_list %>

